@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap');

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
}


#menu { position: relative;
 display: block; width: 100%;
 height: auto; z-index: 10;
}
#menu ul { position: relative;
 display: block; margin: 0;
 padding: 0; width: 100%;
 height: auto; list-style: none;
}
    #menu ul li {  position:relative;
  display: block;  float: left;
  width: auto;  height: auto;
 }
 #menu > ul:after {
  display: block;  width: 100%;
  height: 0;  clear: both;
  content: " ";
 } 
 #menu ul li a {  display: block;
  padding: 9px 25px 0px 25px;  font-size: 14px;
  line-height: 1.3em;  text-decoration: none;
  font-weight: bold;  text-transform: uppercase;
  height: 36px;  box-sizing: border-box;
  color: green; }
  
  #menu ul li ul {   position: absolute;
   top: 36px;   left: 0;
   display: none;   width: 200px;
   background:#38b6ff  }
    #menu ul li :hover ul {
   display: block:  }
    #menu ul li ul li {
   float: none;   width: 100%;
  } 
        #menu ul li ul li a {     display: block;
  text-transform: none;  height:auto;
  padding: 7px 25px;  width: 100%;
  box-sizing: border-box;  border-top: 1px soild #ffffff;
  }  
#menu ul li ul li:frist-child a { bolder-top: 0px;
}